 @import url('https://fonts.cdnfonts.com/css/courgette');
 @import url('https://fonts.cdnfonts.com/css/alegreya-sc');
 @import url('https://fonts.cdnfonts.com/css/domine');
                
                
                
body {
 background-image: url("https://wallpaperaccess.com/full/5403325.jpg");

}

.dropdown {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav-category {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}

.nav-category:hover .dropdown {
  display: block;
}

.nav-category h3 {
  color: purple;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-category h3:hover {
  color: #60a561;
}

.dropdown a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
}

.dropdown a:hover {
  background-color: #b2a198;
}

/* Style for all footer elements on the page */
footer img {
  margin-top: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

@media (max-width: 575px) {
  img {
    max-width: 100%;
  }
}

footer a:hover, header a:hover {
  color: black;
  font-family: 'Alegreya SC', sans-serif;
                                                
}

nav {
  text-align: center;
                                         
  font-size: 20px;
  color:#800000;
}

h3{
  color: violet;
  font-family:kanit ;
  text-align: center;
}

main {
  margin-left: 20%;
  margin-right: 20%;
}


label{
  color:rgb(48, 146, 232);
  font-family: kanit;
}


button{
  color:black;
  font-family: kanit;
  box-sizing: border-box;
}

input{
  color:black;
  font-family:kanit;
}

th{
  text-align: center;
  color:#cdcbd6;
  background-color: #596235;
}

figcaption{
  color: #cdcbd6;
}

legend{
color: #cdcbd6;
}

.center{
  margin-left: auto;
  margin-right: auto;
}

td{
  font-family: 'Courgette', sans-serif;   
  text-align: left;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  color: #cdcbd6;
}

table, th, td {
  font-family: 'Courgette', sans-serif;   
  border: 1px solid white;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
  font-size: medium;
  border-collapse: collapse;
 
}

h1,
h2 {
  font-family: 'Alegreya SC', sans-serif;
                                                
  color: rgb(243, 155, 236);
  text-align: center;
  font-size: 30px;
}

.label{
  color: violet;
  box-shadow: #596235;
}

p {
  color:#c797a9;
  text-align: center;
  font-family: 'Domine', sans-serif;
  font-size: 15px;
  text-decoration: none;
}

li {
  color: rgb(188, 177, 174);
  text-align: left;
  font-family: 'Libre Caslon Condensed 500', sans-serif;
}

.budget{
  color:darkred
}

footer {
  color:azure;
  text-align: center;
  font-family: 'Domine', sans-serif;
                                                
  font-size: 15px;
}

.lego{
  font-family: 'LEGO BRIX', sans-serif;
  color:whitesmoke;
  font-size: x-large;
}

nav>a {
  color: whitesmoke;
}

@media (min-width: 576px) {
  body {
      margin: 10px;
  }

  img {
      max-width: 90%;
      height: auto;
  }

  header {
      text-align: center;
      padding: 10px;
  }

  header .nav {
      margin-top: 10px;
      list-style: none;
  }

  header .nav li {
      display: inline;
      margin-right: 10px;
  }

  footer {
      padding: 10px;
      text-align: center;
  }

}