<nav>
    <a href="https://webpages.charlotte.edu/tpeople5/">CLT web</a>
    ||
    <a href="https://github.com/mytanyhap">Github</a>
    ||
    <a href="https://github.com/mytanyhap/mytanyhap.github.io">Github.io</a>
    ||
    <a href="https://www.freecodecamp.org/Tanyhacodes">freeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/TeeCodesiThink">Codeacademy</a>
    ||
    <a href="https://www.linkedin.com/in/tee-peoples-19677328a">LinkedIn</a>
    </a>
</nav>
<p>
    Page built by
    <a href="https://mytanyhap.github.io/tanyhadesigns.com"> Tanyha Designs </a>
</p>
<a id ="validation_link_html" href="">
    <img style="border:0;width:88px;height:31px" src="images/w3c-html-validation.png" alt="Valid HTML!">
</a>

<a id ="validation_link_css" href="">
    <img style="border:0;width:88px;height:31px" src="images/w3c-css-validation.png" alt="Valid CSS!" >
</a>