<nav>
    <a href="https://webpages.charlotte.edu/tpeople5/">CLT web</a>
    ||
    <a href="https://github.com/mytanyhap">Github</a>
    ||
    <a href="https://github.com/mytanyhap/mytanyhap.github.io">Github.io</a>
    ||
    <a href="https://www.freecodecamp.org/Tanyhacodes">freeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/TeeCodesiThink">Codeacademy</a>
    ||
    <a href="https://www.linkedin.com/in/tee-peoples-19677328a">LinkedIn</a>
    </a>
</nav>
<p>
    Page built by
    <a href="https://mytanyhap.github.io/itis3135/tanyhadesigns.com/" target="_blank"> tanyhadesigns
    </a>&copy; 2023
</p>
<p>
<a href="https://validator.w3.org/check?uri=referer">
    <img style="border:0;width:88px;height:31px"
        src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML">
</a>

    <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss"
            alt="Valid CSS!">
    </a>
</p>